//- Copied template from node_modules for favicon bug workaround

//- Including mixins
include ../../../node_modules/pug-bootstrap/components/icons
include ../../../node_modules/pug-bootstrap/components/alerts
include ../../../node_modules/pug-bootstrap/components/tooltips
include ../../../node_modules/pug-bootstrap/components/accordion
include ../../../node_modules/pug-bootstrap/components/carousel
include ../../../node_modules/pug-bootstrap/components/tables
include ../../../node_modules/pug-bootstrap/components/navbar
include ../../../node_modules/pug-bootstrap/components/toggle
include ../../../node_modules/pug-bootstrap/components/navs
include ../../../node_modules/pug-bootstrap/components/labels
include ../../../node_modules/pug-bootstrap/components/panels
include ../../../node_modules/pug-bootstrap/components/tabs
include ../../../node_modules/pug-bootstrap/components/dropdowns
include ../../../node_modules/pug-bootstrap/components/forms
include ../../../node_modules/pug-bootstrap/components/modal
include ../../../node_modules/pug-bootstrap/components/list-groups
include ../../../node_modules/pug-bootstrap/components/progress-bars
include ../../../node_modules/pug-bootstrap/components/buttons
include ../../../node_modules/pug-bootstrap/components/images
include ../../../node_modules/pug-bootstrap/components/bootswatch

doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="description",content="")
			meta(name="author",content="")
			link(rel="icon",href="/img/favicon.ico")
			title= title
			block styles
				link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	body(data-spy="scroll",data-target=".scrollspy")
		block body
			
		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
