extends ./shared/layout

include ./shared/transactionrows

append styles 
  link(href='/css/transactions.css', rel='stylesheet')

block content
  .table-container
    .balance-container.container-fluid
      .row
        span#current-balance Current Balance: #{balance}
        span.buttonbar
          button(type="button" aria-label="Left Align")#exportbtn.btn.btn-default
            span(aria-hidden="true").glyphicon.glyphicon-export
            span  Export          
        
    hr
    h3 Transactions
    table#transaction-table.table.table-hover
      thead
        tr
          th Category
          th Date
          th Description
          th Amount
          th Balance
          th
      tbody
        +transactionrows(transactions)
  
    nav.aria-label
      ul.pager
        li#next.next
          .span(aria-hidden="true").load-more 
            button#load-btn.btn.btn-link
              span(aria-hidden="true").glyphicon.glyphicon-chevron-down
      
append scripts 
  script(src='https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js')
  script(src='https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js')
  script.
    $('#load-btn').click(function(){
      $('#load-btn').addClass('disabled');
      $('#transaction-table').LoadingOverlay("show");
      var before_param = $('#transaction-table tr:last .datedisplay').data('date'); 
      $.ajax({
        method: 'GET',
        url: '/transactions/loadmore', 
        data: {before: before_param},
        success: function(result){
          //console.log(result);
          $('#transaction-table > tbody:last-child').append(result);
          $('#load-btn').removeClass('disabled');
          $('#transaction-table').LoadingOverlay("hide", true);
        }
      });
    });
    $('#exportbtn').click(function(e){
      var row = $('#transaction-table > tbody tr:first');
      var first_date = $('#transaction-table > tbody tr:first .datedisplay').data('date'); 
      var last_date = $('#transaction-table tr:last .datedisplay').data('date');
      var params = {before: first_date, since: last_date};
      var querystr = $.param(params);
      e.preventDefault();  //stop the browser from following
      window.location.href = '/transactions/export?' + querystr; 
    });